{% extends 'global/paginas/pais_detalhe.html' %}

{% block comentario %}
<form action="{% url 'Asia:comentario' %}" method="POST">
{% endblock %}

{% block if %}
{% if comentario.usuario == user %}
            <form method="post" action="{% url 'Asia:editar_comentario' comentario.id %}" class="d-inline">
                {% csrf_token %}
                {{ formulario.Coment }}
                {{ formulario.link_url }}
                <button class="btn btn-primary" type="submit"><i class="fas fa-edit"> Enviar o comentário editado</i></button>
            </form>
            <form method="post" action="{% url 'Asia:excluir_comentario' comentario.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"><i class="fas fa-trash">Excluir</i></button>
            </form>
        {% endif %}   
    {% endblock if %}