
{% load static %}
<head>
    <title>{% block titulo %}Países{% endblock %}</title>
</head>

{% include 'global/parciais/header.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div>
  <h2 class="text-center m-2">{% block continente %}Resultado da pesquisa: {% endblock %}<h2>
</div>


<div class="row row-cols-3 d-flex justify-content-center">
    {% for item in itens_filtro %}
    
    <div class="card m-3" style="width: 18rem;">
        <img class="card-img-top p-2" src="{{item.foto.url}}" alt="Card image cap">
        <div class="card-body">
            <h6 class="card-title">{{item.País}}</h6>
            <a href="/{{item.Continente}}/Continente/detalhe/{{item.link}}" class="btn btn-primary">Ver país</a>
        </div>
    </div>
    {% empty %}
    <p class="text-center m-2">Nenhum resultado correspondente!</p>
    {% endfor %}

</div>

{% include 'global/parciais/footer.html' %}

