<!DOCTYPE html>
<html lang="en">
{% include 'global/parciais/head.html' %}
<body>
    {% include 'global/parciais/header.html' %}

    <div class="page">
        <form action="{% url 'user:cadastro' %}" class="formLogin" method="POST">
        
            <h1>Cadastro</h1>
            <p>Cadastre-se abaixo usando seus dados! </p>

            {% csrf_token %}
            <div>
                {% for cada in formulario.visible_fields %}
                <div class="form-group">
                    <label for="{{cada.id_for_label}}"><b>{{cada.label}}</b></label>
                    {{cada}}
                </div>
                {% endfor %}
            </div>

            <div class="row m-2">
                <div class="col">
                  <button type="submit" id=btn class="btn">Entrar</button>
                  
                  {% for msg in messages%}
                  <div>
                      <p>{{msg}}</p>
                  </div>
                  {% endfor %}
         
                </div>
            
            </div>
        </form>
    </div>
            {% include 'global/parciais/footer.html' %}
</body>
</html>