<!DOCTYPE html>
<html lang="en">
{% include 'global/parciais/head.html' %}
<body>
    {% include 'global/parciais/header.html' %}
    <div class="d-flex justify-content-center m-5" style="zoom: 1.5;">
        <div class="bg-body-secondary p-4 rounded-4">
            <form action="{% url 'user:cadastro' %}" method="POST">
                {% csrf_token %}
                {% for cada in formulario.visible_fields %}
                <div class="form-group">
                    <label for="{{cada.id_for_label}}"><b>{{cada.label}}</b></label>
                    {{cada}}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>