
<!DOCTYPE html>
<html lang="en">
{% include 'global/parciais/head.html' %}
<body>
    {% include 'global/parciais/header.html' %}
    <div class="d-flex justify-content-center m-5" style="zoom: 1.5;">
        <div class="bg-body-secondary p-4 rounded-4">
            <form action="{% url 'user:login' %}" method="POST">
                {% csrf_token %}
                <div>
                    {% for cada in formulario.visible_fields %}
                    <div class="form-group">
                        <label for="{{cada.id_for_label}}"><b>{{cada.label}}</b></label>
                        {{cada}}
                    </div>
                    {% endfor %}
                </div>
                <div class="row m-2">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                    <div class="form-group col">
                        <label for="text"><a href="{% url 'user:cadastro' %}"><b>Cadastre-se aqui</b></a></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% include 'global/parciais/footer.html' %}
</body>
</html>