{% extends 'usuario/paginas/padrao.html' %}
{% load static %}

{% block app_titulo %}Login{% endblock app_titulo %}


{% block conteudo %}

<section>
    
<form action="{% url 'user:login' %}" method="POST">
    {% csrf_token %}
    {% for cada in formulario.visible_fields %}
    <div class="form-group">
      <label for="{{cada.id_for_label}}"><b>{{cada.label}}</b></label>
      {{cada}}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Entrar</button>
    <div class="form-group">
      <label for="text"><a href="{% url 'user:cadastro' %}"><b>Cadastre-se aqui</b></a></label>
    </div>
  </form>
</section>



{% endblock conteudo %}


</body>
</html>