
{% load static %}


{% block head %}
    

{% include 'global/parciais/head.html' %}
{% endblock head %}
    

<body>

    {% block app_header %}
    {% include 'global/parciais/header.html' %}
    {% endblock app_header %}



    {% block conteudo %}
    

    
    
    {% endblock conteudo %}
    
    {% for msg in messages%}
    <div>
        <p>{{msg}}</p>
    </div>
    {% endfor %}
    


    
    {% block global_footer %}
        {% include 'global/parciais/footer.html' %}
    {% endblock global_footer %}
    


