<head>
  <title>
    {{ detalhe.País }}
  </title>
</head>
{% include 'global/parciais/header.html' %}
<hr>

{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


{%if detalhe %}


<div class="container" style="border: 0;">
<div style="border: 0;" class="card mb-3">
  <div>
    <h3 class="text-center m-2">{{detalhe.País}}</h3>
  </div>
    <img style="height: 650;" src="{{ detalhe.foto.url }}" class="card-img-top" alt="...">

    

    <div class="card-body" style="margin-bottom: 100px;">
      <h5 class="card-title">Sobre: </h5>
      <p class="card-text mt-4"><small class="text-body-secondary">{{detalhe.Descricao}}</small></p>
      <p class="card-text"><small class="text-body-secondary"><strong>Onde ficar:</strong> {{detalhe.OndeFicar}}</small></p>
      <p class="card-text"><small class="text-body-secondary"><strong>Onde comer:</strong> {{detalhe.OndeComer}}</small></p>
      <p class="card-text"><small class="text-body-secondary"><strong>Onde visitar:</strong> {{detalhe.OndeVisitar}}</small></p>
    </div>
    
  
{% endif %}

<section>
  <h5 class="m-2"><i>Comentários:</i></h5>
  
  {% for comentario in comentarios %}
  
  <div class="card">
    <div class="card-body">
      <p><small class="text-body-secondary"><strong>Comentário feito por:</strong> {{ comentario.usuario.username }}</small></p>
      <p><small class="text-body-secondary">{{ comentario.coment }}</small></p>
    </div>
  </div>
  <br>
  
  {% empty %}
  <p>Nenhum comentário encontrado.</p>
  {% endfor %}
</section>

{% if user.is_authenticated %}

<section>
  {% block comentario %}
    {% endblock %}
    {% csrf_token %}
    {{ formulario.Coment }}
    {{ formulario.link_url }}
    <button  class="btn btn-primary" type="submit">Enviar Comentário</button>
  </form>
</section> 

{% else %}
<p><strong> Por favor, faça o login para deixar um comentário.</strong></p>
{% endif %}

</div>
</div>

{% include 'global/parciais/footer.html' %}